body {
    font-family: monospace;
    background:lightblue;
}

.container {
    width: 350px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 5px;
}

input, select, button {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

button {
    background: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

p {
    background: #111;
    color: #0f0;
    padding: 10px;
    min-height: 150px;
}
